body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  text-align: left;
  color: rgb(60, 60, 60);
}

div.name {
  font-weight: bold;
  color: black;
}

a.contact-info {
  color: inherit;
  text-decoration: none;
}
